string Solver.type BMRM

int BMRM.verbosity 2
int BMRM.convergenceLog 0
int BMRM.maxNumOfIter 100000

// tolerance for epsilon termination criterion (set negative value to disable this criterion)
double BMRM.epsilonTol 1e-3

// tolerance for gamma termination criterion (set negative value to disable this criterion)
double BMRM.gammaTol -1

// [optional] other possible choices {L2N2_prLOQO, L1N1_CLP}
string BMRM.innerSolverType L2N2_qld



int InnerSolver.verbosity 0
string InnerSolver.gradType DENSE

// [optional] maximum number of projection (to a feasible set) iterations
int L2N2_DaiFletcherPGM.maxProjIter 200

// [optional] maximum numnber of gradient projection iterations
int L2N2_DaiFletcherPGM.maxPGMIter 100000

// [optional] number of iterations an inactive gradient is allowed to remain in
int L2N2_DaiFletcherPGM.gradIdleAge 10

// [optional] maximum gradient set size
int L2N2_DaiFletcherPGM.maxGradSetSize 5000

// [optinal] tolerance
double L2N2_DaiFletcherPGM.tolerance 1e-5

string Loss.lossFunctionType GENERIC


double EpsilonInsensitiveLoss.epsilon 0.1

// verbosity level
int Loss.verbosity 2

int Data.verbosity 1
int Data.biasFeature 0
string Data.format GENERIC

//////////////////////////////////////////////////
// GENERIC parameters                           //
//////////////////////////////////////////////////

double BMRM.lambda 1.0
double yy_scale 100.0

string Data.xFile ../../data/enron/x_subset_0.01.txt
string Data.yFile ../../data/enron/y.txt
string Data.yyCountsFile ../../data/enron/yy_counts.txt
string Data.yyBinsFile ../../data/enron/yy_bins.txt
string Model.modelFile model.txt

bool Training true
bool quadratic true
bool L2N2_BMRMDualInnerSolver.positivityConstraint true

